// ==================================================
// Brand
// ==================================================
$brand: #B31B1B;
$brand-dark: #667;
$brand-light: lighten($brand-dark, 70%);//#efefdc;
$sidebar: lighten($brand-dark, 75%);

$selection: #212121;
$highlight: #ffc;
$bg-body: #4d4e53;
$content-area: #fff;

// ==================================================
// Typography
// ==================================================
$font: "TexGyreHero", "LatoLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", "HelveticaNeueLT", Helvetica, Arial, "Lucida Grande", sans-serif;
$oswald: "Oswald";
$serif-fonts: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-third: Arial, sans-serif;

$h1-size: 2em;
$h2-size: 2em;
$h3-size: 1.6em;
$h4-size: 1.5em;

$h1-text: $brand;
$h2-text: $brand;
$h3-text: $brand;
$h4-text: $brand;
$h5-text: $brand;
$h6-text: $brand;

$h1-link: $brand;
$h2-link: $brand;
$h3-link: $brand;
$h4-link: $brand;
$h5-link: $brand;
$h6-link: $brand;

$h1-link-hover: lighten($brand, 5%);
$h2-link-hover: lighten($brand, 5%);
$h3-link-hover: lighten($brand, 5%);
$h4-link-hover: lighten($brand, 5%);
$h5-link-hover: lighten($brand, 5%);
$h6-link-hover: lighten($brand, 5%);

$p-text: #667;
$p-size: 1.4em;

$link: darken($brand, 5%);
$link-hover: $brand;

$rule: #212121;

$blockquote: #444;

$table-bg: #fff;
$table-bg-hover: darken($table-bg, 10%);
$td-text: #444;
$th-text: #212121;


// ==================================================
// Buttons
// ==================================================
$button-bg: #eee;
$button-bg-focus: #e5e5e5;


// ==================================================
// Forms
// ==================================================
$valid: none;
$invalid: #f0dddd; // red

$input-bg: #fff;
$input-border: #ccc;
$input-color: #a4a4a4;
$label-color: #444;

$input-size: 1.2em;
