// ==================================================
// Brand
// ==================================================
$brand: #B31B1B;
$brand-dark: #303537;
$brand-light: #efefdc;
$sidebar: #f6f7e9;

$selection: #212121;
$highlight: #ffc;
$bg-body: #e4e4e4;
$content-area: #fff;

// ==================================================
// Typography
// ==================================================
$font: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$font-second: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-third: Arial, sans-serif;

$h1-size: 2em;
$h2-size: 1.8em;
$h3-size: 1.6em;
$h4-size: 1.5em;

$h1-text: #212121;
$h2-text: #212121;
$h3-text: #212121;
$h4-text: #212121;
$h5-text: #212121;
$h6-text: #212121;

$h1-link: #212121;
$h2-link: #212121;
$h3-link: #212121;
$h4-link: #212121;
$h5-link: #212121;
$h6-link: #212121;

$h1-link-hover: #212121;
$h2-link-hover: #212121;
$h3-link-hover: #212121;
$h4-link-hover: #212121;
$h5-link-hover: #212121;
$h6-link-hover: #212121;

$p-text: #212121;
$p-size: 1em;

$link: darken($brand, 5%);
$link-hover: $brand;

$rule: #212121;

$blockquote: #444;

$table-bg: #fff;
$table-bg-hover: darken($table-bg, 10%);
$td-text: #444;
$th-text: #212121;


// ==================================================
// Buttons
// ==================================================
$button-bg: #eee;
$button-bg-focus: #e5e5e5;


// ==================================================
// Forms
// ==================================================
$valid: none;
$invalid: #f0dddd; // red

$input-bg: #fff;
$input-border: #ccc;
$input-color: #a4a4a4;
$label-color: #444;

$input-size: 1.2em;
