header {
  #logo {
    float: left;
    margin-right: 2em;
    max-width: 400px;

    @include tablet-portrait-and-below {
      width: 325px;
    }

    @include mobile-only {
      width: 275px;
    }
  }

  #name-and-slogan {
    font-size: 2em;
    padding-top: 2em;
  }

  #site-name {
    display: none;
  }

  #search-form {
    @include mobile-only {
      display: none;
    }
  }
}
