header {
  #logo {
    float: left;
    margin-right: 2em;

    @include mobile-only {
      width: 320px;
    }
  }

  #name-and-slogan {
    font-size: 1em;
    padding-top: 2em;
  }

  #search-form {
    @include mobile-only {
      display: none;
    }
  }
}
